<section class="me">
  <img src="assets/profile.jpg" alt="foto profile" width="200" />

  <section class="content">
    <div class="title_subtitle">
      <h1>Vítor Cavalcante Souza!</h1>
      <h2>I do Code & Innovate 🚀</h2>
    </div>
    <article>
      Passionate Software Developer with a focus on Java and backend
      technologies, dedicated to building robust, scalable, and efficient
      applications.
    </article>
    <section class="tech">
      <div *ngFor="let section of techSections">
        <button (click)="toggleSection(section)">
          {{ section.title }} <i class="bx bx-chevron-down"></i>
        </button>
        <ul *ngIf="section.open">
          <li *ngFor="let item of section.items">{{ item }}</li>
        </ul>
      </div>
    </section>
  </section>
  <button [routerLink]="['/contact']" routerLinkActive="router-link-active">
    Contact me
  </button>
</section>
