<footer>
  <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/vitorcavalcantesouza/"
        target="_blank"
        ><i class="bx bxl-linkedin-square"></i
      ></a>
    </li>
    <li>
      <a href="https://github.com/Vitor-C-Souza" target="_blank"
        ><i class="bx bxl-github"></i
      ></a>
    </li>
    <li>
      <a href="https://www.instagram.com/vitorcavalcante97/" target="_blank"
        ><i class="bx bxl-instagram"></i
      ></a>
    </li>
  </ul>
  <h4>
    © 2025 Todos os direitos reservados. Desenvolvido por
    <span>Vítor Cavalcante Souza</span>.
  </h4>
</footer>
