.contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  h1 {
    align-self: center;
    font-size: 36px;
  }

  form {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 50%;
    padding: 32px; // Espaçamento interno para a borda não ficar colada no conteúdo
    position: relative;
    border-radius: 30px;
    z-index: 1;
    overflow: hidden; // Garante que o efeito da borda não ultrapasse o form

    &::before {
      content: "";
      position: absolute;
      inset: 0; // Faz com que o elemento cubra todo o formulário
      padding: 4px; // Espessura da borda
      border-radius: 30px;
      background: linear-gradient(to right, #5a42f5, #ff4d00);
      -webkit-mask: linear-gradient(white, white) content-box,
        linear-gradient(white, white);
      mask: linear-gradient(white, white) content-box,
        linear-gradient(white, white);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: -1;
    }

    .input_form {
      display: flex;
      flex-direction: column;
      gap: 4px;
      font-size: 16px;
      label {
        margin-left: 16px;
      }
      input {
        border-radius: 30px;
        padding: 10px;
      }

      textarea {
        border-radius: 30px;
        padding: 40px;
      }
    }

    button {
      margin-top: 16px;
      position: relative;
      font-size: 20px;
      border: none;
      border-radius: 30px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      padding: 8px;
      width: 150px;
      min-height: 70px;
      cursor: pointer;
      font-weight: bold;
      text-align: center;
      z-index: 1;
      overflow: hidden;
      margin-bottom: 8px;
    }

    button::before {
      content: "";
      position: absolute;
      inset: 0;
      padding: 4px;
      border-radius: 30px;
      background: linear-gradient(to right, #5a42f5, #ff4d00);
      -webkit-mask: linear-gradient(white, white) content-box,
        linear-gradient(white, white);
      mask: linear-gradient(white, white) content-box,
        linear-gradient(white, white);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      z-index: -1;
    }
  }
}

button {
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
