.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;

  h3 {
    font-weight: bold;
    font-size: 24px;
  }

  .title_subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    background: linear-gradient(to right, #5a42f5, #ff4d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
  }
  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    align-items: center;
    app-card {
      display: flex; /* Faz com que o flex do pai funcione corretamente */
      flex-direction: column;
    }
  }
}
