<section class="experience">
  <section class="title_subtitle">
    <h1>EXPERIENCE</h1>
    <h2>EXPLORE NOW</h2>
  </section>
  <section class="title_subtitle__company">
    <h3><span>SPA /</span> Support and Infrastructure Internship</h3>
    <h4>MAR 2022 - DEC 2022</h4>
  </section>
  <article>
    My professional experience includes a 10-month internship as a Technical
    Support Trainee at Santos Port Authority in Santos, São Paulo, Brazil.
    During this internship, I gained valuable experience in preventative and
    corrective hardware maintenance, ensuring operational continuity of IT
    systems. My responsibilities included diagnosing and resolving network
    problems, contributing to operational stability and efficiency. I also
    assisted in the implementation and monitoring of backup and data recovery
    solutions, ensuring data integrity. Furthermore, I supported the maintenance
    and updates of operating systems, ensuring compliance with security
    standards. I created and updated technical documentation for operational
    procedures, facilitating training and standardization. I also aided in the
    implementation of information security policies, ensuring adherence to
    current regulations. My tasks also involved managing and controlling the
    inventory of hardware and software, optimizing the administration of IT
    resources. I supported the expansion and modernization of the IT
    infrastructure, including the installation and configuration of new
    equipment. Finally, I performed proactive monitoring of systems to
    anticipate and resolve problems before they impacted operations. This
    internship provided me with a strong foundation in IT support and
    problem-solving.
  </article>
</section>
